import styles from './{{pascalCase name}}.module.scss';

const {{pascalCase name}} = () => (
  <div className={styles.{{name}} }>
    <h1>{{pascalCase name}}</h1>
  </div>
);

export default {{pascalCase name}};
